body{
    font-family: "Times New Roman" !important;
}
.img-logo{
    width: 100px;
}
.hide {display: none;}
input[type="text"] {
    height: 25px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: 0px !important;
}