@import url(thietkeweb-seo.css);
body {
  overflow-x: hidden; }

.frm_dangtin {
  margin-bottom: 150px; }
  .frm_dangtin input, .frm_dangtin textarea {
    padding: 7px;
    width: 85%; }
  .frm_dangtin .consignment table td {
    padding: 8px; }
    .frm_dangtin .consignment table td span {
      color: red; }

.box-submit {
  float: right;
  padding-top: 10px;
  padding-right: 5px; }

.bnt_sent_kygui {
  background: url(../images/bnt_sent_message.png) no-repeat;
  width: 110px;
  height: 26px;
  border: none;
  float: right;
  margin-right: 55px; }

@media (min-width: 980px) and (max-width: 1060px) {
  .wrap {
    padding: 0;
    background-size: cover; } }
@media screen and (max-width: 979px) {
  .frm_dangtin {
    margin-bottom: 40px; }

  .box-submit {
    width: 110px;
    margin: 0 auto;
    float: none; }
    .box-submit .bnt_sent_kygui {
      float: none;
      margin-right: 0; }

  * {
    box-sizing: border-box; }

  .wrap, .body {
    width: auto; }

  .wrap {
    padding: 0; }
    .wrap .flag-en, .wrap .flag-vn {
      left: initial; }
    .wrap .flag-en {
      right: 20px; }
    .wrap .flag-vn {
      right: 83px; }
    .wrap .bigimage {
      width: 100%; }
    .wrap .block_frame {
      width: 100%;
      overflow: hidden;
      display: block; }
    .wrap .bg-banner img {
      max-width: 100% !important;
      height: auto;
      display: block; }
    .wrap .left, .wrap .right {
      width: 100%;
      padding-right: 5px;
      padding-left: 5px;
      float: none; }
      .wrap .left:after, .wrap .left:before, .wrap .right:after, .wrap .right:before {
        content: "";
        display: table;
        clear: both; }
    .wrap .left .bds_moi_nhat_cont {
      width: 100%; }
      .wrap .left .bds_moi_nhat_cont .item_home {
        width: 50%; }
        .wrap .left .bds_moi_nhat_cont .item_home .bottom_line {
          width: 100%; }
    .wrap .left .list .item, .wrap .left .list .item .bottom_line {
      width: 100%; }
    .wrap .left .list .item .pricebox {
      height: 104px; }
    .wrap .right .searchbox .m form input[type="text"], .wrap .right .searchbox .m form select {
      width: 48%;
      margin-left: 1%;
      padding: 15px 5px; }
    .wrap .right .partner, .wrap .right .quickcontact {
      margin-bottom: 51px; }
      .wrap .right .partner .t, .wrap .right .partner .th, .wrap .right .quickcontact .t, .wrap .right .quickcontact .th {
        margin-top: -63px;
        background-position: -4px 0px;
        position: initial; }
    .wrap .right .quickcontact .m .yahoo, .wrap .right .quickcontact .m .skype {
      height: 48px; }

  #slide {
    margin: 0 auto !important;
    width: auto !important; }

  #slider {
    height: 250px !important;
    margin: 0 auto !important; } }
@media screen and (max-width: 767px) {
  .menu {
    border-bottom: 0;
    z-index: 999;
    background: green;
    height: auto; }
    .menu ul#nav {
      display: none;
      height: auto; }
      .menu ul#nav li {
        float: none;
        height: auto;
        z-index: 999; }
        .menu ul#nav li a {
          width: 100%;
          float: none;
          line-height: inherit;
          padding-left: 25px; }
          .menu ul#nav li a:hover {
            color: white; }
        .menu ul#nav li span {
          display: none; }
    .menu a {
      text-decoration: none;
      color: #fff;
      line-height: 40px; }
      .menu a#pull {
        display: block;
        background: transparent url(../images/menubg.png) scroll repeat-x;
        width: 100%;
        position: relative;
        text-indent: 25px;
        font-size: 14px;
        font-family: Tahoma, Geneva, sans-serif;
        text-transform: uppercase; }
        .menu a#pull:after {
          content: "";
          background: url("../images/nav-icon.png") no-repeat;
          width: 30px;
          height: 30px;
          display: inline-block;
          position: absolute;
          right: 15px;
          top: 10px;
          z-index: 9999; }

  #slider {
    width: auto; }
    #slider li .news_des {
      display: none; }
    #slider li {
      width: 320px;
      margin: 0 auto; }

  .wrap .flag-vn, .wrap .flag-en {
    top: 22px; } }
@media screen and (max-width: 715px) {
  .wrap .left .list .item {
    padding-right: 0; }
  .wrap .left .list .pricebox {
    display: none; } }
@media screen and (max-width: 660px) {
  .wrap .left .bds_moi_nhat_cont .item_home {
    width: 100%; }

  .wrap .flag-vn, .wrap .flag-en {
    top: 9px; }
  .wrap .left .wrappcontact {
    padding-left: 5%;
    padding-right: 5%; }
    .wrap .left .wrappcontact:after, .wrap .left .wrappcontact:before {
      content: "";
      display: table;
      clear: both; }
    .wrap .left .wrappcontact .row {
      clear: both;
      width: 100%; }
      .wrap .left .wrappcontact .row .l, .wrap .left .wrappcontact .row .r {
        float: none;
        width: 100%;
        padding: 0; }
      .wrap .left .wrappcontact .row .l {
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 7px; }
      .wrap .left .wrappcontact .row .r input[type="text"] {
        width: 100%;
        padding: 15px 10px; }
      .wrap .left .wrappcontact .row .r textarea {
        width: 100%; }
      .wrap .left .wrappcontact .row .r .btn-block {
        width: 152px;
        margin: 0 auto; }
  .wrap .right .searchbox .m form input[type="text"], .wrap .right .searchbox .m form select {
    width: 96%;
    margin-left: 2%; } }
@media screen and (max-width: 500px) {
  .wrap .left .list .item a img {
    display: none; }
  .wrap .left .list .item .bottom {
    left: 0;
    width: 100%; } }
/*Styles for screen 600px and lower*/
/*Styles for screen 515px and lower*/

/*# sourceMappingURL=style.css.map */
